*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --primary: #072448;
  --secondary: #ff6150;
  --tertiary: #2ec0f9;
  --grey: #d6dbe1;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loading__container {
  width: 100%;
  height: 100vh;
  background-color: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.anchor {
  text-decoration: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(5rem, 14rem))[8] 1fr;
      grid-template-columns: 1fr repeat(8, minmax(5rem, 14rem)) 1fr;
  -ms-grid-rows: (min-content)[5];
      grid-template-rows: repeat(5, -webkit-min-content);
      grid-template-rows: repeat(5, min-content);
}

section {
  margin: 8rem 0;
}

.heading {
  border-bottom: 0.5rem solid var(--primary);
  display: inline-block;
  margin-bottom: 2.5rem;
  padding: 0.2rem 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--tertiary)));
  background: linear-gradient(90deg, var(--secondary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Navigation*/
.navigation {
  grid-column: 1/-1;
  font-size: 2rem;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(5rem, 14rem))[8] 1fr;
      grid-template-columns: 1fr repeat(8, minmax(5rem, 14rem)) 1fr;
  background: var(--primary);
  color: var(--grey);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navigation__logo {
  color: inherit;
}

.navigation__checkbox, .navigation__button {
  display: none;
  cursor: pointer;
}

.navigation__icon {
  position: relative;
  margin-right: 5rem;
  z-index: 2;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: var(--grey);
  display: inline-block;
  content: "";
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  list-style: none;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navigation__item {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation__item > * {
  color: inherit;
}

.navigation__item:hover {
  background-color: var(--grey);
  color: var(--primary);
  cursor: pointer;
}

/*Header*/
.header {
  grid-column: 1/-1;
  position: relative;
  height: 80vh;
  background-image: linear-gradient(45deg, rgba(255, 97, 80, 0.8), rgba(46, 192, 249, 0.8)), url("../assets/Hero_bg.jpeg");
  background-size: cover;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(5rem, 14rem))[8] 1fr;
      grid-template-columns: 1fr repeat(8, minmax(5rem, 14rem)) 1fr;
  font-size: 3rem;
}

.header__text-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-text {
  color: var(--primary);
}

.header .btn-service {
  margin-top: 2rem;
  background: var(--primary);
  color: var(--grey);
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.header .btn-service:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem var(--primary);
          box-shadow: 0 1rem 2rem var(--primary);
}

.header .btn-service:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 5rem;
  background-color: var(--primary);
  -webkit-animation: moveInButton 0.3s;
          animation: moveInButton 0.3s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .btn-service:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@-webkit-keyframes moveInButton {
  100% {
    -webkit-transform: scaleX(1.2) scaleY(1.5);
            transform: scaleX(1.2) scaleY(1.5);
    opacity: 0;
  }
}

@keyframes moveInButton {
  100% {
    -webkit-transform: scaleX(1.2) scaleY(1.5);
            transform: scaleX(1.2) scaleY(1.5);
    opacity: 0;
  }
}

/*Curve Shape divider in header*/
.custom-shape-divider-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 93px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(132% + 1.3px);
    height: 47px;
  }
}

/*SERVICE*/
.service {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  font-size: 2.5rem;
  text-align: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}

.work figure {
  max-width: 18rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.work .fig-caption {
  text-align: center;
  font-size: 2rem;
}

img {
  height: 100%;
  width: 100%;
}

.showcase {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  font-size: 2.5rem;
  text-align: center;
}

.gallery {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[9];
      grid-template-rows: repeat(9, 5vw);
  gap: 1rem;
}

.gallery__item {
  overflow: hidden;
}

.gallery__item img {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery__item:hover img {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery__item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
}

.gallery__item--3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery__item--4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
}

.gallery__item--5 {
  grid-column: 7 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery__item--6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
}

.gallery__item--7 {
  grid-column: 7 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / span 4;
}

.gallery__item--8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  grid-row: 7 / -1;
}

.gallery__item--9 {
  grid-column: 7 / -1;
  grid-row: 8 / -1;
}

.gallery__item--10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  grid-row: 6 / -1;
}

.gallery__item--11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  grid-row: 7 / -1;
}

.about {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 10rem;
  position: relative;
}

.timeline {
  width: 100%;
  height: 100%;
  position: relative;
  list-style: none;
  margin-top: 5rem;
  padding: 1rem 0;
  z-index: -1;
}

.timeline h4 {
  display: inline-block;
}

.timeline::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 2px;
  height: 100%;
  background: var(--primary);
}

.timeline__item {
  width: 50%;
  padding-bottom: 2rem;
}

.timeline__item:nth-child(even) {
  float: right;
  clear: both;
  text-align: left;
  padding-left: 2rem;
}

.timeline__item:nth-child(odd) {
  float: left;
  clear: both;
  text-align: right;
  padding-right: 2rem;
}

.timeline__image {
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline__panel {
  margin: 0 3rem;
}

.story {
  position: absolute;
  -webkit-transform: translate(-50%, 4rem);
          transform: translate(-50%, 4rem);
  display: block;
  width: 8rem;
  height: 8rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  border: 0.5rem solid var(--primary);
  border-radius: 50%;
}

.img {
  width: 8rem;
  height: 8rem;
  border: 0.5rem solid var(--primary);
  border-radius: 50%;
}

.contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  text-align: center;
  font-size: 2.5rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__svg {
  height: 30rem;
  width: 50rem;
  fill: var(--primary);
}

.contact__info {
  width: 100%;
  margin-left: 10rem;
  text-align: left;
}

.contact__list {
  list-style: none;
  margin-top: 2rem;
  font-size: 2rem;
}

.contact__list--item {
  margin: 1rem 0;
}

.contact .email a,
.contact .phone a,
.contact .address,
.contact .instagram a,
.contact .linkedin a,
.contact .facebook a {
  color: currentColor;
}

.contact .email a:hover,
.contact .phone a:hover,
.contact .address:hover,
.contact .instagram a:hover,
.contact .linkedin a:hover,
.contact .facebook a:hover {
  color: var(--secondary);
}

.contact .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .social__link--item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer {
  grid-column: 1/-1;
  text-align: center;
  color: var(--grey);
  background-color: var(--primary);
  height: 100%;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copy {
  vertical-align: middle;
}

.footer .avtar a {
  color: currentColor;
}

.footer .avtar a:hover {
  color: var(--secondary);
}

@media only screen and (max-width: 1100px) {
  .navigation__nav,
  .header__text-box,
  .service,
  .about,
  .contact {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
  .header__text-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__svg {
    width: 35rem;
  }
  .contact__info {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 850px) {
  .navigation__list {
    margin: auto;
  }
  .header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    margin: 6rem 0;
  }
  .about {
    padding-bottom: 0;
  }
  .timeline::before {
    left: 5%;
    height: 94%;
  }
  .timeline__item {
    width: 100%;
    text-align: left;
  }
  .timeline__item:nth-child(odd), .timeline__item:nth-child(even) {
    float: left;
    text-align: left;
    padding-right: 0;
    padding-bottom: 4rem;
    padding-left: 6rem;
  }
  .timeline__image {
    left: -2%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .story {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .contact__image {
    display: none;
  }
  .contact__info {
    text-align: center;
    margin-left: 0;
  }
  .contact .social__link {
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 690px) {
  .navigation__list {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: var(--primary);
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    width: 0%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navigation__item {
    margin: 1rem;
  }
  .navigation__button {
    display: inline-block;
  }
  .navigation__checkbox:checked ~ .navigation__list {
    opacity: 1;
    visibility: visible;
    width: 30%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}

@media only screen and (max-width: 570px) {
  section {
    margin: 5rem 0;
  }
  .timeline {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .timeline::before {
    height: 96%;
  }
  .timeline__image {
    left: -5%;
  }
}

@media only screen and (max-width: 320px) {
  .timeline__item:nth-child(odd), .timeline__item:nth-child(even) {
    padding-left: 5rem;
  }
  .timeline__image {
    left: -7%;
  }
}
/*# sourceMappingURL=style.css.map */