@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

.wel-img{
  background-image: url(image/pexels-pixabay-236698.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;

}

.enq-call{
  background-color: #2A61D1;
  height: 10vh;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.service-offer{
  height: 70vh;
  padding: 50px;
}

.col-svg{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-shadow: 1px 2px 1px 2px lightslategray;
  padding: 10px;
}

.first-box-ser,
.second-box-ser{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-evenly;
}

.img-svg{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: lightyellow;
  padding: 10px;
  width: 165px;
  justify-content: center;
  align-items: center;
}

.client-para{
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 30px;
}

.quote_anch{
  text-decoration: none;
}

.get-quote{
  padding: 10px 30px 10px 30px;
  border: 1px solid ;
  width: fit-content;
  letter-spacing: 1px;
}

.process{
  height: 70vh;
  padding: 50px;
}

.card{
  padding: 10px;
  height: 250px;
  letter-spacing: 1px;
  background-color: lightyellow;
}

.card-body{
  padding: 0px 0px 0px 5px;
}

.card-header{
  padding: 10px 0px 10px 5px;
  font-weight: 500;
}

.card:hover{
  border: 1px solid white;
  box-shadow: 1px 1px 2px 2px white;
}

.row-procee{
  margin-top: 30px;
}

.about-us{
  height: 70vh;
  padding: 50px;
}

.row-about{
  display: flex;
  flex-direction: row;
}

.about-img{
  width: 90%;
  transform: rotate(350deg);
  box-shadow: 2px 3px 5px 2px lightslategray;
}

.about-desc{
    font-size: 21px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
    padding: 10px;
}

.follow{
  text-decoration: none;
  padding: 10px;
  font-size: 21px;
  letter-spacing: 1px;
  border-radius: 5%;
  border: 1px solid lightslategray;
  box-shadow: 1px 2px 1px 1px black;
}

.follow:hover{
  background-color: #2A61D1;
  transition: all 0.3s ease-in;
  color: white;
  font-weight: 500;
}

h2{
  border-bottom: 5px solid chartreuse;
  width: fit-content;
  padding: 5px;
}

.gallery-section{
  padding: 50px;
  height: fit-content;
}

.form{
  height: 50vh;
  padding: 50px;
  background-color:lightyellow;
}

input, textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    letter-spacing: 1px;
}

button{
  padding: 10px;
  border-radius: 20px;
  background-color: #000000;
  color: white;
  font-weight: bolder;
}

button:hover{
  background-color: white;
  color: black;
}

.footer{
  height: 40vh;
  background-color: #000000;
  padding: 50px;
  color: white;
}

.footer-img{
  background: white;
  width: 24px;
  border-radius: 10px;
}

.contac{
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}

.contac:hover{
  background-color: white;
  color: black;
}

.get-in-touch{
  height: 70vh; 
  padding: 50px; 
  background-color: lightyellow;
}

.content-wall{
  position: absolute; top:300px; background-color: black; 
  opacity: 0.8; 
  height: 30vh; left: 50px; 
  color: white; padding: 10px; font-size: 45px;
}

@media screen and (max-width: 600px) {
  nav .logo {
    font-size: 26px;
  }
  nav .menu-btn i {
    color: black;
  }
  .content-wall{
    top: 270px;
    left: 6px;
    font-size: 26px;
  }
  .enq-call{
    padding-top: 8px;
  }
  .service-offer{
    height: inherit;
    padding: 5px;
  }
  .process{
    padding: 5px;
    height: inherit;
  }
  .row-process{
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    width: 100%;
    column-gap: 20px;
  }
  .about-us{
    padding: 5px;
    height: inherit;
  }
  .row-about{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  .gallery-section{
    padding: 5px;
    height: inherit;
  }
  .get-in-touch{
    padding: 5px;
    height: inherit;
  }
  .row-get{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 5px;
  }
  .map{
    margin-top: 20px;
  }
  .footer{
    height: inherit;
    padding: 10px;
  }
  .col-footer{
    margin-bottom: 20px;
  }
  .row-procee{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

}

.copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}


